<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link 
    rel="preload" 
    href="{{ site.github.baseurl }}/internal-resources/data/config.json"
    id="prefetch-config-link-element"
    as="fetch"
    crossorigin
    type="application/json"
  >
  <link 
    rel="preload" 
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/fonts/barlow-condensed-bold.woff2"
    as="font" 
    type="font/woff2" 
    crossorigin
  >
  <link 
    rel="preload" 
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/fonts/barlow-semi-condensed-semibold.woff2"
    as="font" 
    type="font/woff2" 
    crossorigin
  >
  <link 
    rel="preload" 
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/fonts/nunito-sans-v15-latin-regular.woff2"
    as="font" 
    type="font/woff2" 
    crossorigin
  >
  <link 
    rel="preload" 
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/fonts/cascadia-mono.woff2"
    as="font" 
    type="font/woff2" 
    crossorigin
  >
  <link
    rel="modulepreload"
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/page-build.min.js"
  >
  <link
    rel="modulepreload"
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/config.min.js"
  >
  <link 
    rel="preload" 
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/assets/hero-logo.png"
    as="image"
  >
  <link
    rel="stylesheet"
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/css/page-theme.min.css"
  />
  <link
    rel="stylesheet"
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/css/code-theme.min.css"
  />
  <script
  src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/highlightjs.min.js"
  ></script>
  <script
  src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/highlightjs-copy.min.js"
  ></script>
  <script
    src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/medium-zoom.min.js"
  ></script>
  <script
    src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/anchor.min.js"
  ></script>
  <script
    src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/custom.min.js"
  ></script>
  <script
    src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/js/custom-defer.min.js"
    type="module"
  ></script>
  <link 
    rel="icon" 
    type="image/png"
    href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/assets/favicon.png"
  >
  <title>React State Management Lab</title>
</head>
<body>
  <header id="tc-header-temp" class="border-bottom"></header>
  <main class="container-lg px-3 mt-4 mb-6 markdown-body">{{ content }}</main>
</body>
</html>
